.cards-row {
    display: flex;
    flex-direction: column;
  }
  .div1{
    display: flex;
    justify-content: space-between;
  }
  .div2{
    display: flex;
    justify-content: space-between;
  }
.gaming-card {
    width: 21rem;
    /* padding: 0 10px; */
    border-radius: 0;
    padding-top:10px;
    margin-right: 10px;
  }
  .images{
    width: 150px;
    height: 100px;
  }
  
  .gaming-images {
    display: flex;
    flex-wrap: wrap;
 
   
  }
  .texts{
    font-size: 12px;
  }
  .gaming-item {
    flex: 0 0 50%;
    max-width: 50%;
    /* padding: 0 10px 20px 10px; */
  }
  
  .see-more {
    display: block;
    margin-top: 20px;
  }

  .images-card3{
    width:140px;
    height: 100px;
    border-radius: 0;
  }
  
  .pc-image2{
    width: 70px;
    height:220px;
    padding: 10px 0;
  }